<div>

    <h1>{{ title }}</h1>

    <table>
        <tr>
            <td>Id</td>
            <td>{{ id }}</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{ member.name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ member.email }}</td>
        </tr>
        <tr>
            <td>Active</td>
            <td>{{ member.active }}</td>
        </tr>
    </table>
    
</div>